#dashboard{
  padding-top:4px;
  padding-left:4px;
  padding-bottom:4px;
  padding-right:4px;
}

.textinputs{
  margin-top:30px;
  margin-bottom:30px;
}

.bullseye-interface-pic{
  margin-left:30px;
}
